{% extends 'layout.html' %}
{% block content %}
    <div class="luffy-container">
        {% if search_group_row_list %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-filter" aria-hidden="true"></i>	快速筛选
                </div>
                <div class="panel-body">
                    <div class="search-group">
                        {% for row in search_group_row_list %}
                            <div class="row">
                                {% for item in row %}
                                    {{ item|safe }}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if search_list %}
            <div style="margin: 5px 0; float: right;">
                <form action="" method="get" class="form-inline">
                    <div class="form-group">
                        <input class="form-control" type="text" name="q" id="q" value="{{ search_value }}" placeholder="关键字搜索">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                </form>
            </div>
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            {% if action_dict %}
                <div style="margin: 5px 0; float: left;" class="form-inline">
                    <select name="action" id="" class="form-control">
                        <option value="">请选择</option>
                        {% for func_name, func_text in action_dict.items %}
                            <option value="{{ func_name }}">{{ func_text }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="执行" class="btn btn-primary" style="margin-right: 10px;">
                </div>
            {% endif %}
            {% if add_btn %}
                <div style="margin: 5px 0; float: left;">
                    {{ add_btn|safe }}
                </div>
            {% endif %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        {% for row in thead_list %}
                            <th>
                                {{ row }}
                            </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in tbody_list %}
                        <tr>
                            {% for item in row %}
                                <td>
                                    {{ item }}

                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {{ paginator.page_html|safe }}
            </ul>
        </nav>
    </div>
{% endblock content %}
